*__pycache__*
health_score/data/*
health_score/build/*
spatial_analysis/data/*
spatial_analysis/build/*
indicators_map/data/*
crosscheck_data_sources/cache/*

.idea/

# Virtual environment
venv/
.venv/
*/venv/
*/.venv/
